version: "3.9"

services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: myNewSecurePassword
      POSTGRES_DB: role_dashboard
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 12

  backend:
    build: ./backend
    ports:
      - "5000:5000"
    environment:
      - DB_USER=postgres
      - DB_PASSWORD=myNewSecurePassword
      - DB_HOST=db
      - DB_PORT=5432
      - DB_NAME=role_dashboard
      - JWT_SECRET=secretkey
      - PORT=5000
    depends_on:
      db:
        condition: service_healthy
    command: sh -c "node scripts/init-db-and-seed.js && node index.js"

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    environment:
      - VITE_BACKEND_URL=/api
    depends_on:
      - backend

  ngrok:
    image: ngrok/ngrok:latest
    depends_on:
      - frontend
    command: ["http", "frontend:5173", "--log", "stdout"]
    environment:
      NGROK_AUTHTOKEN: 34org5WaZPhNe9BhdPZGsndanbD_LvxHwJwRgmV6ZZm5DyAY
    ports:
      - "4040:4040"


volumes:
  pgdata:
